
.button {
	-fx-text-fill: olive;
	-fx-background-color: #cdf;
	-fx-background-radius: 10 10 0 10;
	-fx-padding: 5 10 5 10;
/*	-fx-border-color: #f4f4; */
/*	-fx-border-width: 3; */
}

.button:hover {
	-fx-text-fill: #333;
	-fx-background-color: chartreuse;
}

.button:pressed {
	-fx-text-fill: #333;
	-fx-background-color: darkcyan;
	-fx-padding: 5 10 13 10;
}