
.button {
	-fx-text-fill: black;
	-fx-background-color: #ccc;
	background-color: #ccc;
	-fx-background-radius: 10 10 0 10;
	-fx-padding: 5 10 5 10;
	padding: 5 10 5 10;
/*	-fx-border-color: #f4f4; */
/*	-fx-border-width: 3; */
}

.button:hover {
	-fx-text-fill: #333;
	-fx-background-color: chartreuse;
	background-color: chartreuse;
}

.button:disabled {
	-fx-text-fill: #333;
	-fx-background-color: darkgray;
	background-color: darkgray;
}


.button:pressed {
	-fx-text-fill: #333;
	-fx-background-color: darkcyan;
	background-color: darkcyan;
	-fx-padding: 5 10 13 10;
	padding: 5 10 13 10;
}

.list-cell:nuovo {
	-webkit-text-fill-color: darkgreen;
	-fx-text-fill: darkgreen;
}

.list-cell:analizzato {
	-webkit-text-fill-color: blue;
	-fx-text-fill: blue;
}

.newPdf {
	-webkit-text-fill-color: darkgreen;
	-fx-text-fill: darkgreen;
}

.oldPdf {
	-webkit-text-fill-color: black;
	-fx-text-fill: black;
}